POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

NOTE_API_IMAGE=ghcr.io/yourname/note-api:latest
NOTE_WEB_IMAGE=ghcr.io/yourname/note-web:latest

ADMIN_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

FRONTEND_URL=
BASE_URL=
FRONTEND_URL_DE=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
