POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRES_IN=

FRONTEND_URL=
BASE_URL=http://local


BASE_URL=
FRONTEND_URL=
FRONTEND_URL_DE=

# nuphea@Dell:~$ echo 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 | docker login ghcr.io -u oeun-nuphea --password-stdin

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
